<head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></head>
<div id="header"></div>
    <hr>
    <h4>Upload Your File here</h4>
    <input type ="file" value="Choose file"/>
    <button id="btn"> Upload file</button>
    <div id="dv">
        
        <form class="srch" style="margin:auto;max-width:700px">
            <input type="text" placeholder="Search your files...">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
</div>
